.main-movie-cont {
	margin: 0 auto;
	padding-top: 20px;
	z-index: 10;
	width: 93%;
	display: flex;
	justify-content: space-between;
}

.right-main-movie-poster {
	width: 14%;
}

.main-poster {
	cursor: pointer;
	width: 100%;
	object-fit: cover;
	transition: 0.9s all cubic-bezier(0.5, 0.25, 0, 1);
}
