* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #00020f;
}

#root {
	width: 100%;
}

#root::after {
	position: absolute;
	content: '';
	right: 0;
	width: 82%;
	height: 81vh;
	z-index: -1;
	top: 0;
	background: linear-gradient(to top, #00020f /*  rgb(0, 0, 0) */ 5%, transparent),
		linear-gradient(to right, #00020f /*  rgb(0, 0, 0) */ 1%, transparent);
}

.movie-bg {
	position: absolute;
	right: 0;
	z-index: -3;
	width: 80%;
	transition: 1.5s opacity ease-in;
	height: 80vh;
}

.movie-bg-2 {
	position: absolute;
	right: 0;
	z-index: -2;
	width: 80%;
	transition: 1.5s opacity ease-in;
	height: 80vh;
}

.all-elements {
	position: relative;
	width: 100%;
	/* 	overflow: hidden; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.my-movie-list-cont {
	display: flex;
	flex-direction: column;
	align-self: center;
	position: absolute;
	z-index: 8000;
	right: -100rem;
	top: 0;
	height: 100vh;
	color: white;
	opacity: 1;
	width: 30%;
	background-color: #00041bef;
	transition: 0.5s all ease-in-out;
}

.close-btn {
	cursor: pointer;
	position: absolute;
	top: 1.5rem;
	right: 0.3rem;
	width: 30%;
	font-size: 1.5rem;
	color: white;
	z-index: 2000;
	transition: 0.2s all ease-in-out;
}

.close-btn:hover {
	transform: scale(1.5);
	color: red;
}

.my-list-title {
	margin: 20px auto;
	font-weight: 200;
	font-size: 1.5rem;
	font-family: var(--myfont);
}

.my-list-all-movies {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	overflow: scroll;
}

.my-list-all-movies::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}

.each-movie-poster {
	cursor: pointer;
	width: 140px;
	margin: 1rem;
	transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.each-movie-poster:hover {
	transform: scale(1.07);
	box-shadow: 0 0 12px rgb(224, 8, 224, 0.5);
}

.my-list-btn-cont {
	width: 100%;
	height: 100px;
	margin: 10px 0;
}

.clear-list {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	font-family: var(--myfont);
	font-weight: 500;
	font-size: 1rem;
	color: white;
	width: 50%;
	padding: 7px 10px;
	background: #00020f;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
	outline: none;
}

.clear-list:hover {
	background-color: white;
	color: #00020f;
}

.footer {
	color: white;
	position: relative;
	bottom: 0;
	z-index: 5000;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #00020f;
	font-size: 1rem;
	margin-top: 4px;
	font-family: var(--myfont);
	padding-bottom: 7px;
	padding-top: 1px;
}

.footer > a {
	padding: 0 7px;
	color: goldenrod;
	margin-top: -1px;
}

/* 
issues: 
constant (2-3 clicks in 4 seconds) super fast clicking on different movies results in expensive api calls so api rejects the rqeuests
*/

@media screen and (max-width: 900px) {
	.all-elements {
		height: auto;
		justify-content: flex-start;
	}

	.my-movie-list-cont {
		width: 100%;
	}
}
