* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #00020f;
}

#root {
	width: 100%;
	min-height: 100vh;
}

#root::after {
	position: absolute;
	content: '';
	right: 0;
	width: 82%;
	height: 81vh;
	z-index: -1;
	top: 0;
	background: linear-gradient(
			to top,
			#00020f /*  rgb(0, 0, 0) */ 5%,
			transparent
		),
		linear-gradient(to right, #00020f /*  rgb(0, 0, 0) */ 1%, transparent);
}

.movie-bg {
	position: absolute;
	right: 0;
	z-index: -3;
	width: 80%;
	transition: 1.5s opacity ease-in;
	height: 80vh;
}

.movie-bg-2 {
	position: absolute;
	right: 0;
	z-index: -2;
	width: 80%;
	transition: 1.5s opacity ease-in;
	height: 80vh;
}

.my-movie-list-cont {
	display: flex;
	flex-direction: column;
	align-self: center;
	position: fixed;
	z-index: 8000;
	right: -100rem;
	top: 0;
	height: 100vh;
	color: white;
	opacity: 1;
	width: 400px;
	background-color: #00041bef;
	transition: 0.5s all ease-in-out;
}

.my-list-title {
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	font-weight: 200;
	font-size: 1.5rem;
	font-family: var(--myfont);
}

.close-btn {
	cursor: pointer;
	margin-top: 5px;
	transition: 0.2s all ease-in-out;
}

.close-btn:hover {
	font-size: 1.2;
	color: red;
}

.empty-list {
	font-weight: 200;
	font-size: 1rem;
	font-family: var(--myfont);
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.my-list-all-movies {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow: scroll;
}

.my-list-all-movies::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}
.each-movie {
	position: relative;
	margin: 10px;
	/* border-radius: 20px; */
	transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
}
.each-movie:hover {
	box-shadow: 0 0 12px rgb(224, 8, 224, 0.5);
}

.each-movie:hover > .remove-wrapper {
	opacity: 1;
}

.each-movie-poster {
	cursor: pointer;
	width: 100%;
	/* border-radius: 20px; */
}

.remove-wrapper {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0px;
	right: 0px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.2s all ease;
}

.remove-btn {
	font-size: 1.5rem;
}
.remove-wrapper:hover {
	background-color: rgba(224, 8, 8, 0.701);
}

.my-list-btn-cont {
	width: 100%;
	height: 100px;
	margin: 10px 0;
}

.clear-list {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	font-family: var(--myfont);
	font-weight: 500;
	font-size: 1rem;
	color: white;
	width: 50%;
	padding: 7px 10px;
	background: #00020f;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
	outline: none;
}

.clear-list:hover {
	background-color: white;
	color: #00020f;
}

.footer {
	color: white;
	position: relative;
	bottom: 0;
	z-index: 5000;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #00020f;
	font-size: 1rem;
	margin-top: 4px;
	font-family: var(--myfont);
	padding-bottom: 7px;
	padding-top: 1px;
}

.footer > a {
	padding: 0 7px;
	color: goldenrod;
	margin-top: -1px;
}

/* 
issues: 
constant (2-3 clicks in 4 seconds) super fast clicking on different movies results in expensive api calls so api rejects the rqeuests
*/

@media screen and (max-width: 800px) {
	.my-movie-list-cont {
		width: 100%;
	}
	.remove-wrapper {
		cursor: pointer;
		opacity: 1;
		padding: 0px;
		background-color: rgba(224, 8, 8, 0.701);
	}
	.remove-btn {
		font-size: 1rem;
	}
}
